@font-face {
  font-family: roundPop;
  src: url("../fonts/roundPop.ttf") format("truetype");
}
@font-face {
  font-family: osRegular;
  src: url("../fonts/openSans-regular.ttf") format("truetype");
}
@font-face {
  font-family: osSemibold;
  src: url("../fonts/openSans-semibold.ttf") format("truetype");
}
#appGrid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 135px auto auto;
  row-gap: 25px;
  justify-items: center;
}

#appHeader {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  justify-content: space-between;
}

#logo {
  align-self: flex-start;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-content: flex-start;
  margin: 0 0 0 2%;
}
#logo img {
  margin-top: 15%;
  width: 30vw;
  height: auto;
}

#currentDate {
  height: 50%;
  align-self: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}
#currentDate h1 {
  font-family: roundPop, "Nunito", sans-serif;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
  font-size: 3vh;
}
#currentDate .countdown--bar {
  height: 5px;
}

#buttonFlex {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-content: end;
  width: 100%;
}
#buttonFlex #cancelButton {
  display: none;
}

#addCountdown {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-content: flex-start;
  width: 100%;
  max-height: 1000px;
}
#addCountdown input {
  width: 28%;
  margin-bottom: 7%;
  margin-right: 3%;
  font-family: osRegular, "Nunito", sans-serif;
  color: #FFFFFF;
  border: 3px solid #00C9A9;
  background-color: #302839;
}
#addCountdown input:hover {
  background-color: #00C9A9;
}
#addCountdown .addButton--hover {
  background-color: #00C9A9;
}
#addCountdown .addButton--hover:hover {
  background-color: #302839;
}
#addCountdown #display {
  display: none;
  width: 90%;
}
#addCountdown form {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  align-items: flex-start;
}

#dateEntry {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-content: flex-start;
  margin: 0 0 7% 0;
}
#dateEntry label {
  font-family: osRegular, "Nunito", sans-serif;
  color: #FFFFFF;
  font-size: 2vw;
  width: 30%;
}
#dateEntry #enterDate {
  margin-bottom: 0;
}
#dateEntry input {
  margin: 0 2% 0 3vw;
  width: 40%;
}

.countdownBoxFlex {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-flow: wrap;
  width: 100%;
}

.countdownBox {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 28%;
  margin: 2%;
}
.countdownBox p, .countdownBox h1 {
  font-family: roundPop, "Nunito", sans-serif;
  color: #FFFFFF;
  text-align: center;
  padding: 0;
  margin: 0;
}
.countdownBox p {
  font-size: 4vw;
}
.countdownBox h1 {
  font-size: 6vw;
  font-family: osSemiBold, "Nunito", sans-serif;
  color: #FFFFFF;
}

.countdown--bar {
  width: 80%;
  background-color: #00C9A9;
}

.countdownBox__count {
  width: 100%;
  padding: 20% 0 20% 0;
  border: 2px solid #302839;
  box-shadow: 0 5px 10px #1F1925FF;
  margin-bottom: 15%;
}
.countdownBox__count p, .countdownBox__count h1 {
  font-family: roundPop, "Nunito", sans-serif;
  color: #FFFFFF;
  text-align: center;
  padding: 0;
  margin: 0;
}
.countdownBox__count p {
  font-size: 4vw;
}
.countdownBox__count h1 {
  font-size: 6vw;
  font-family: osSemiBold, "Nunito", sans-serif;
  color: #FFFFFF;
}

#countdownFlex {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 90%;
}
#countdownFlex .countdown {
  width: 100%;
  margin-bottom: 3%;
  font-family: osSemibold, "Nunito", sans-serif;
  color: #FFFFFF;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}
#countdownFlex .countdown h1 {
  align-self: flex-start;
}
#countdownFlex .countdown .countdown--bar {
  align-self: flex-start;
  height: 5px;
}
#countdownFlex .countdown .countdownBoxFlex {
  margin-top: 8%;
}

@media screen and (min-width: 1000px) {
  #logo img {
    width: 15vw;
    height: 10vh;
  }

  .countdownBoxFlex {
    align-self: center;
    width: 90%;
  }
  .countdownBoxFlex .countdownBox {
    width: 12%;
    margin: 4%;
  }
  .countdownBoxFlex .countdownBox .countdownBox__count h1, .countdownBoxFlex .countdownBox .countdownBox__count p {
    font-size: 2vw;
  }

  #addCountdown input {
    width: 8%;
    align-self: flex-end;
    margin: 3% 5% 3% 0;
    font-size: 1vw;
  }
  #addCountdown form .countdownBoxFlex .countdownBox .countdownBox__count {
    margin-bottom: 30%;
  }
  #addCountdown form input {
    margin-top: 0;
  }
  #addCountdown #dateEntry {
    width: 80%;
    margin-bottom: 3%;
  }
  #addCountdown #dateEntry label {
    width: 20%;
    font-size: 2vw;
    text-align: start;
  }
  #addCountdown #dateEntry #enterDate {
    width: 20%;
    align-self: center;
    height: 50%;
    margin-left: 5%;
  }
  #addCountdown #dateEntry input {
    width: 20%;
    align-self: center;
    margin-bottom: 0;
  }

  #countdownFlex .countdown .countdownBoxFlex {
    margin-top: 4%;
  }
}

/*# sourceMappingURL=styles.css.map */
